<div class="container">
    <h1 class="mb-5 p-3 text-center text-white">Editar Post</h1>

    <div class="row p-4">
        <div class="col-md-12">
            <form action="/admin/posts/edit/{{post._id}}?newMethod=PUT" method="POST">
                <div class="form-group mb-5">
                    <label for="title" class="text-white">Título</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Escriba el tíitulo del post" required value={{post.title}}>
                </div>
                <div class="form-group mb-5">
                    <label for="content" class="text-white">Contenido</label>
                    <textarea name="content" id="content"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="user" id="user" class="form-control" value="{{user.firstName}} {{user.lastName}}" hidden> 
                </div>
                <div class="form-group mb-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="form-control custom-file-input" id="inputGroupFile01" name="uploadedFileEdit" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Escoja una imagen</label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-white mb-5">
                    <label for="category">Categoría</label>
                    <select name="category" id="category" class="form-control">
                        {{#select post.category}}
                            {{#each categories}}
                                <option value="{{_id}}">{{title}}</option> 
                            {{/each}}   
                        {{/select}}    
                    </select>
                </div>  

                <div class="form-check text-white mb-5">
                    <label for="allowComments">
                        <input type="checkbox" name="allowComments" id="allowComments" class="form-check-input" checked value="true">
                        Permitir Comentarios
                    </label>
                </div>

                <button class="btn btn-outline-warning btn-lg mb-5" type="submit" id="send-content">Actualizar Post</button>

            </form>
        </div>
    </div>
</div>