<div class="row">
    <div class="container">
        <h1 class="mt-5 mb-5">Administración de Comentarios</h1>
        <div class="col-md-12">
            <table class="table table-bordered text-center text-white">
                <thead class="bg-dark">
                    <tr>
                        <th><h3>Autor</h3></th>
                        <th><h3>Aprobado</h3></th>
                        <th><h3>Fecha</h3></th>
                        <th><h3>Contenido</h3></th>
                        <th><h3>Acciones</h3></th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    {{#each comments}}
                        <tr>
                            <td style="width: auto;">{{user.firstName}} {{user.lastName}}</td>
                            <td>{{commentIsApproved}}</td>
                            <td>{{date}}</td>
                            <td>{{body}}</td>
                            <td class="">
                                <form action="/admin/comment/edit/{{id}}?newMethod=PUT" method="POST">
                                    {{#if commentIsApproved}}
                                    <p>Este comentario ya fue aprobado</p>
                                    {{else}}
                                    <button class="btn btn-sm btn-outline-warning">Aprobar Comentario</button>
                                    {{/if}}
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>